<strong>Password recovery</strong>

<p>Password recovery was requested for ({{ email }}). If you do not recognize this action. Please contact us.</p>

<p>To recover your password, please use the token ({{ token }}) or click the link below:</p>

<a href="{{ link }}">Create new password </a>
